<!-- contacto.component.html -->
<section class="contact-section">
  <div class="contact-container">
    <h2>Contactanos</h2>
    <form class="contact-form">
      <label for="name">Nombre</label>
      <input type="text" id="name" placeholder="Tu nombre" />

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Tu email" />

      <label for="message">Mensaje</label>
      <textarea id="message" placeholder="Tu mensaje"></textarea>

      <button type="submit">Enviar</button>
    </form>

    <div class="contact-info">
      <p>Psj. Benozzo Gozzoli #5016, San Joaquín, Santiago, Chile</p>
      <p>Teléfonos: +56 (2) 25533705 / +56 (9) 95342620</p>
      <p>Email: <a href="mailto:ryagruas@rya.cl">ryagruas.cl</a></p>
    </div>
  </div>
</section>

<section class="machine-details">
  <h2>Nuestras maquinas</h2>

  <div class="machine">
    <h3>Grúa de 3 toneladas</h3>
    <ul>
      <li>Motor: Hyundai WIA / WC30D</li>
      <li>Alimentación: Diesel</li>
      <li>Potencia: 60 ps/ 2500 rpm</li>
      <li>Capacidad de carga: 2.9 ton</li>
      <li>Máxima altura horquillas: 3.300 mm</li>
      <li>Peso: 4212 kg</li>
    </ul>
  </div>

  <div class="machine">
    <h3>Grúa de 5 toneladas</h3>
    <ul>
      <li>Motor: Hyundai WIA / WC30D</li>
      <li>Alimentación: Diesel</li>
      <li>Potencia: 70kW/ 2300 rpm</li>
      <li>Capacidad de carga: 5 ton</li>
      <li>Máxima altura horquillas: 2.930 mm</li>
      <li>Peso: 7213 kg</li>
    </ul>
  </div>

  <div class="machine">
    <h3>Grúa de 7 toneladas</h3>
    <ul>
      <li>Motor: HMC D4DD</li>
      <li>Alimentación: Diesel</li>
      <li>Potencia: 73.5 kW/ 2.300 rpm</li>
      <li>Capacidad de carga: 7 ton</li>
      <li>Máxima altura horquillas: 3.030 mm</li>
      <li>Peso: 9.9 ton</li>
    </ul>
  </div>
</section>
