<div id="wrapper">
    <main id="hero">
        <div class="container">
            <h1 class="animate__animated animate__backInLeft">R&A Grúas, más de 28 años dentro del mercado<br></h1>
            <h4 class="animate__animated animate__backInLeft">Servicio y experiencia a su disposición</h4>
            <form action="./Pages/contacto.html">
                <button class="animate__animated animate__pulse">¡Cotiza ya!</button>
            </form>
        </div>
    </main>

    <section id="somos-rya" data-aos="zoom-in-up">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-acento">R&A Grúas Ltda</span></h2>
                <p>Contamos con más de 30 años de experiencia en el mercado de arriendo de maquinaria pesada.</p>
            </div>
        </div>
    </section>
</div>
